<h4>Formularios <small>template</small></h4>
<hr>
<form (ngSubmit)="guardar(forma)" #forma="ngForm" novalidate><!-- 'novalidate' es para que no salgan los mensajes dee validación de HTML5 -->

  <div class="form-group row">
    <label class="col-2 col-form-label">Nombre</label>
    <div class="col-8">

      <input class="form-control"
              [class.is-invalid]="(forma.submitted || nombre.touched) && (nombre.errors?.required || nombre.errors?.minlength)"
              type="text"
              placeholder="Nombre"
              name="nombre"
              [ngModel]="usuario.nombre"
              minlength="5"
              required
              #nombre="ngModel"> <!-- creando variable local que apunte al form.controls que angular crea para nombre -->
      <div class="invalid-feedback">
        <div *ngIf="nombre.errors?.required">
          Este campo es requerido.
        </div>
        <div *ngIf="nombre.errors?.minlength">
          Por lo menos {{ nombre.errors.minlength.requiredLength }} caracteres, tiene {{ nombre.errors.minlength.actualLength }} caracteres.
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Apellido</label>
    <div class="col-8">

      <input class="form-control"
              [class.is-invalid]="(forma.submitted || apellido.touched) && apellido.errors?.required"
              type="text"
              placeholder="Apellido"
              name="apellido"
              [ngModel]="usuario.apellido"
              required
              #apellido="ngModel">
      <div *ngIf="apellido.errors?.required" class="invalid-feedback">
        Este campo es requerido.
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Pais</label>
    <div class="col-8">
      <select class="form-control"
              [class.is-invalid]="(forma.submitted || pais.touched) && pais.errors?.required"
              name="pais"
              [ngModel]="usuario.pais"
              required
              #pais="ngModel">
        <option value="">Seleccione un pais</option>
        <option *ngFor="let pais of lPais"
                [value]="pais.codigo">{{ pais.nombre }}</option>
      </select>
      <div *ngIf="pais.errors?.required" class="invalid-feedback">
        Este campo es requerido.
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Sexo</label>
    <div class="col-md-8" >

      <div class="custom-control custom-radio" *ngFor="let sex of lSexo; let last = last">
        <input class="custom-control-input"
               [class.is-invalid]="(forma.submitted || sexo.touched) && sexo.errors?.required"
               id="rb{{ sex.codigo }}"
               type="radio"
               name="sexo"
               [value]="sex.codigo"
               [ngModel]="usuario.sexo"
               #sexo="ngModel"
               required>
        <label class="custom-control-label" for="rb{{ sex.codigo }}">{{ sex.nombre }}</label>
        <div *ngIf="last && sexo.errors?.required" class="invalid-feedback">
          Este campo es requerido.
        </div>
      </div>
      
      <!-- <div class="custom-control custom-radio">
        <input class="custom-control-input"
               id="rbFemenino"
               type="radio"
               name="sexo"
               value="Femenino"
               [ngModel]="usuario.sexo">
        <label class="custom-control-label" for="rbFemenino">Femenino</label>
      </div> -->

    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             [class.is-invalid]="(forma.submitted || correo.touched) && (correo.errors?.required || correo.errors?.pattern)"
             type="email"
             placeholder="Correo electrónico"
             name="correo"
             [ngModel]="usuario.correo"
             required
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             #correo="ngModel">
      <div class="invalid-feedback">
        <div *ngIf="correo.errors?.required">
          Este campo es requerido.
        </div>
        <div *ngIf="correo.errors?.pattern">
          No es una dirección de correos valida.
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Acepta</label>
    <div class="col-md-8" >

      <div class="custom-control custom-checkbox">
        <input class="custom-control-input"
                [class.is-invalid]="(forma.submitted || acepta.touched) && acepta.errors?.required"
                type="checkbox"
                id="cbAcepta"
                name="acepta"
                [ngModel]="usuario.acepta"
                #acepta="ngModel"
                required>
        <label class="custom-control-label" for="cbAcepta">Acepta las condiciones</label>
        <div *ngIf="acepta.errors?.required" class="invalid-feedback">
          Debe aceptar los terminos y condiciones para continuar.
        </div>
      </div>
      

    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <!-- [disabled]="!forma.valid" -->
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

</form>

<pre>
  {{ forma.form.value | json }}
</pre>

